html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.header .additem-input {
  flex: 1 1 100%;
  max-width: 50rem;
  border: 0.4rem solid rgba(175, 47, 47, 0.15);
  padding: 1rem;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  box-shadow: -1px -1px 13px -5px rgba(0, 0, 0, 0.64);
}

.header__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 8rem;
  flex: 1 1 100%;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 1.4rem;
}

main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.list-container {
  padding: 0 0.3rem;
}

.list {
  list-style-type: none;
  display: flex;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
  align-items: center;
  border: 0.4rem solid rgba(175, 47, 47, 0.15);
  padding: 1rem;
  margin-bottom: 1rem;
}

.list__task {
  flex: 1 1 auto;
  word-break: break-all;
}

.list__checkbox {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 0.2rem solid black;
  position: relative;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

.list__tick {
  position: absolute;
  top: 14%;
  left: 18%;
  width: 0.5rem;
  height: 0.5rem;
  color: green;
}

.list__deleteButton {
  visibility: hidden;
  font-size: 3.8rem;
  color: black;
  flex-shrink: 0;
}

.list:hover .list__deleteButton {
  visibility: initial;
}
.list:hover .list__deleteButton.hide {
  display: none;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}
