html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.header__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 8rem;
}


.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between
}

.list__deleteButton{
    display: none;
    width: 20px;
    height: 20px;
    background-color: red;
}

.list:hover .list__deleteButton {
    display: initial;
}
.list:hover .list__deleteButton.hide {
    display: none;
}


.hide {
    display: none
}

.invisible {
    visibility: hidden;
}